.c-cta__heading{
	font-weight: $light;
	font-style: italic;
	opacity: .8;
}

@include respond-min($mq-large){
	.c-cta{
		padding: 6rem 0;
		background-color: $light-1;
		.c-cta__heading{
			float: left;
			max-width: 675px;
			padding-bottom: 0;
			min-height: 64px;
			padding-top: 1.5rem;
		}
		.c-cta__link{
			float: right;
		}
	}
}

@include respond-max($mq-large){
	.c-cta{
		padding: 5rem 0;
		text-align: center;
		.c-cta__heading{
			padding-bottom: 4rem;
		}
	}
}
