/* ===========================================================

	# Header

=========================================================== */

.c-header {
	background-color: $white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: background $speed $ease,
				border-color $speed $ease;
	&.js-sticky{
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
		.c-header__logo-link{
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}
		.c-header__logo-image{
			width: 4.75rem;
		}
		.c-nav--main{
			padding: 0.8rem 0;
		}
		.c-header__search{
			height: 7.75rem;
		}
	}
}

.c-header__logo-link {
	display: block;
	float: left;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.c-header__logo-image {
	width: 5rem;
}

.c-header__toggle-menu-button {
	display: none;
}

@include respond-max( $mq-large ) {

	.c-header__margin-top{
		margin-top: 65px;
	}

	.c-header__menu-button{
		display: block;
		width: 130px;
		height: 65px;
		background-color: black;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		&.js-active{
			.c-header__burger-text{
				&::before,&::after{
					top: -22px;
				}
			}
			.c-header__burger{
				left: -3px;
				.c-header__lines{
					width: 0;
					&::before{
						top: 1px;
						transform: rotate(45deg);
					}
					&::after{
						top: -2px;
						transform: rotate(-45deg);
					}
				}
			}
		}
		.c-header__burger-text{
			float: left;
			height: 22px;
			overflow: hidden;
			margin-left: 1.5rem;
			margin-top: 2.1rem;
			&::before,&::after{
				display: block;
				color: white;
				font-size: 1.75rem;
				position: relative;
				transition: $ease $speed top;
				top: 0;
			}
			&::before{
				content: "Menu";
			}
			&::after{
				content: "Close";
			}
		}
		.c-header__burger{
			width: 35px;
			height: 35px;
			margin: 1.5rem 1.5rem 1.5rem 0;
			float: right;
			transform: rotate(180deg);
			position: relative;
			left: 0;
			transition: $ease $speed left;
			.c-header__lines,.c-header__lines::before,.c-header__lines::after{
				content: "";
				display: block;
				position: relative;
				background-color: white;
				width: 35px;
				height: 3px;
				transition: $ease $speed width,
							$ease $speed top,
							$ease $speed transform;
			}
			.c-header__lines{
				top: calc(50% - 1px);
				&::before{
					top: -11px;
				}
				&::after{
					top: 8px;
				}
			}
		}
	}

	.c-header__logo-link{
		margin-top: 1.25rem !important; /* Overrides the sticky nav js */
		margin-bottom: 1.25rem !important; /* Overrides the sticky nav js */
	}

	.c-header__logo-image{
		width: 4rem !important; /* Overrides the sticky nav js */
	}

	.c-header__search{
		display: none;
	}

	.c-header{
		.c-nav--main{
			transition: $ease $speed opacity,
						$ease $speed visbility;
		}
	}
}

@include respond-min( $mq-large ) {

	.c-header{
		.c-header__logo-link{
			transition: $ease $speed margin;
		}
		.c-header__logo-image{
			transition: $ease $speed width;
		}
		.c-nav--main{
			transition: $ease $speed padding;
		}
		.c-header__search{
			transition: $ease $speed height;
		}
	}

	.c-header__margin-top{
		margin-top: 110px;
	}

	.c-header{
		&::before{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			z-index: -1;
			background-color: black;
		}
	}

	.c-header__burger{
		display: none;
	}

	.c-header__logo-image {
		width: 6rem;
	}

	.c-header__inner {
		float: left;
	}

	.c-nav--main {
		float: left;
		padding: 2.5rem 0;
		background-color: white;
	}

	.c-header__search{
		position: absolute;
		top: 0;
		right: 0;
		width: 11rem;
		height: 11rem;
		background-color: black;
		z-index: 2;
		cursor: pointer;
		&.js-active{
			.c-header__search-button{
				transform: scale(0);
			}
			.c-header__search-button-close{
				transform: scale(1);
			}
		}
		.c-header__search-button{
			display: block;
			width: 2.3rem;
			height: 2.3rem;
			border: 3px solid white;
			border-radius: 50%;
			transform: scale(1);
			transition: $ease $speed transform;
			&::after{
				content: "";
				display: block;
				background-color: white;
				width: 1.2rem;
				height: .3rem;
				position: relative;
				transform: rotate(45deg);
				top: 18px;
				left: 15px;
			}
		}
		.c-header__search-button-close{
			position: absolute;
			top: calc(50% - 2px);
			left: calc(50% - 15px);
			transition: $ease $speed transform;
			transform: scale(0);
			&::before,&::after{
				content: "";
				display: block;
				position: relative;
				width: 3rem;
				height: .3rem;
				background-color: white;
			}
			&::before{
				transform: rotate(45deg);
				top: 1px;
			}
			&::after{
				transform: rotate(-45deg);
				top: -2px;
			}
		}
	}

	.flexbox{
		.c-header{
			&::before{
				height: 100%;
			}
		}

		.c-header__search{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.no-flexbox{

		.c-header{
			&::before{
				height: 11rem;
			}
		}

		.c-header__search-button{
			position: relative;
			top: calc(50% - 1.5rem);
			left: calc(50% - 1.5rem);
		}
	}
}
