/* ===========================================================

	# Nav

=========================================================== */

.c-nav--main {
	.c-nav__list {
		list-style: none;
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.c-nav__item {
		margin: 0;
	}

	.c-nav__link {
		color: $text-colour;
		display: block;
		position: relative;
		transition: color $speed $ease,
					background $speed $ease;
		&:hover,
		&:focus {
			color: $black;
		}

		&.is-active {
			font-weight: $bold;

			&::after{
				width: 100%;
			}
		}
	}

	.c-nav__item--parent .c-nav__list-sub {
		display: none;
	}

}

@include respond-min($mq-large){
	.c-nav--main{
		width: calc(100% - 13rem);
		position: relative;
		z-index: 2;
		.c-nav__item{
			display: inline-block;
			margin: 2rem 2.25rem 2rem 2.25rem;
		}
		.c-nav__link{
			&::after{
				content: "";
				display: block;
				width: 0;
				height: 2px;
				background-color: black;
				position: absolute;
				bottom: -.5rem;
				left: 0;
				transition: width $ease $speed;
			}
			&:hover,
			&:focus {
				&::after{
					width: 100%;
				}
			}
		}
	}
}

@include respond-max($mq-large){
	.c-nav--main{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100vh - 65px);
		background-color: white;
		z-index: 995;
		visibility: hidden;
		opacity: 0;

		&.js-active{
			opacity: 1;
			visibility: visible;
		}

		.c-nav__item{
			opacity: 0;
			top: -2px;
			position: relative;
			transition: $ease $speed opacity,
						$ease $speed top;
			&.js-active{
				opacity: 1;
				top: 0;
			}
		}

		.c-nav__link{
			font-size: 3rem;
			margin: 1rem 0;
			padding: 1.5rem 0;
			display: inline-block;
			position: relative;
			&.is-active{
				&::after{
					content: "";
					display: block;
					width: 100%;
					height: 3px;
					background-color: black;
					position: absolute;
					top: 30px;
					left: 0;
				}
			}
		}
	}

	.flexbox{

		.c-nav--main{
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
