/* ===========================================================

	# Nav

=========================================================== */

.c-nav--main {
	.c-nav__list {
		list-style: none;
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.c-nav__item {
		margin: 0;
	}

	.c-nav__link {
		color: $text-colour;
		display: block;
		position: relative;
		transition: color $speed $ease,
					background $speed $ease;
		&:hover,
		&:focus {
			color: $black;
		}

		&.is-active {
			&::after{
				width: 100%;
			}
		}
	}

	.c-nav__item--parent .c-nav__list-sub {
		display: none;
	}

}

@include respond-min($mq-large){
	.c-nav--main{
		width: calc(100% - 13rem);
		position: relative;
		z-index: 2;
		.c-nav__item{
			display: inline-block;
			margin: 2rem 2.25rem 2rem 2.25rem;
		}
		.c-nav__link{
			&::after{
				content: "";
				display: block;
				width: 0;
				height: 2px;
				background-color: black;
				position: absolute;
				bottom: -.5rem;
				left: 0;
				transition: width $ease $speed;
			}
			&:hover,
			&:focus {
				&::after{
					width: 100%;
				}
			}
		}
	}
}

@include respond-max($mq-large){
	.c-nav--main{
		display: none;
	}
}
