.c-page-title{
  position: relative;
  background-color: $light-1;
}
.c-intro__heading{
	padding-bottom: 0;
}
.c-page-title__image{
 	display: none;
}
.c-intro__text {
    margin-top: 3rem;
		a{
			color: black;
			font-weight: bold;
			text-decoration: underline;
			display: inline-block;
			&:focus,
			&:hover{
				text-decoration: none;
				color: black;
			}
		}
}
@include respond-min($mq-large){
	.c-page-title__image{
	  position: absolute;
	  top: 0;
	  right: 0;
	  width: 50%;
	  height: 100%;
	  background-position: center;
	  background-size: cover;
	  display: block;
	}

	.c-page-title__content{
	  width: 50%;
	  padding-right: 5rem;
	}
}
@include respond-min-max($mq-medium,$mq-large){
	.c-page-title__contact{
		padding-bottom: 42.5rem;
	}
}
@include respond-min-max($mq-small,$mq-medium){
	.c-page-title__contact{
		padding-bottom: 32.5rem;
	}
}
@include respond-max($mq-small){
	.c-page-title__contact{
		padding-bottom: 23.5rem;
	}
}