.c-page-title{
  position: relative;
  background-color: $light-1;
}

.c-page-title__content{
  width: 50%;
  padding-right: 5rem;
}

.c-page-title__image{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
