/* ===========================================================

	# Pagination

=========================================================== */

.c-pagination {
	margin-top: 6.5rem;
	float: right;
	text-align: right;
	&.c-pagination__float{
		margin-top: 0;
	}
	*{
		background-color: black;
		color: white;
		padding: 2rem;
		float: left;
		margin-left: .4rem;
	}
}
@include respond-max($mq-large){
	.c-pagination{
		&.c-pagination__float{
			margin-bottom: 6rem;
		}
	}
}
