.c-search{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 900;
    height: calc(100% - 112px);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.99);
    transition: $ease $speed opacity,
                $ease $speed visibility,
                $ease $speed transform,
                $ease $speed height;
    &.js-active{
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
    &.js-small{
        height: calc(100% - 78px);
    }
    .c-search__flex{
        height: 100%;
    }
    .c-search__form{
        width: 100%;
        position: relative;
    }
    .c-search__text{
        width: calc(100% - 15rem);
        float: left;
        border: none;
        border-bottom: 2px solid black;
        background-color: rgba(0,0,0,.025);
        font-size: 2.5rem;
        padding: 3rem;
        position: relative;
    }
    .c-search__submit{
        float: left;
        width: 150px;
        background-color: $black;
        color: white;
        font-size: 2.25rem;
        border: 2px solid black;
        border-radius: 0;
        height: 97px;
        cursor: pointer;
        &:hover,
        &:focus{
            background-color: white;
            color: black;
        }
    }
}

.c-search__result{
    overflow: hidden;
    width: 100%;
    margin-top: 5rem;
    display: block;
    box-shadow: 0 0 15px $light-2;
    backface-visibility: hidden;
    transition: $ease $speed box-shadow;
    &.has-image{
        .c-search__result-content{
            padding: 4rem 2rem;
        }
    }
    &.no-image{
        .c-search__result-content{
            padding: 3rem 2rem;
        }
    }
    .c-search__image{
        width: 100%;
        height: auto;
        transition: $ease $speed transform;
    }
    .c-search__desc{
        margin-bottom: 1rem;
    }
    .c-search__image-wrapper{
        display: block;
        overflow: hidden;
    }
    .c-search__learn-more{
        display: block;
        font-weight: bold;
        i{
            padding-left: 10px;
            position: relative;
            top: 2px;
            transition: $ease $speed padding-left;
        }
    }
    &:hover,
    &:focus{
        box-shadow: 0 0 20px darken($light-2,10);
        color: black;
        .c-search__image{
            transform: scale(1.02);
        }
        .c-search__learn-more{
            color: black;
            i{
                padding-left: 15px;
            }
        }
    }
}

.flexbox{
    .c-search__flex{
        display: flex;
        align-items: center;
    }
}

.no-flexbox{
    .c-search__flex{

    }
}

.c-search__form__inline{
    margin-bottom: 5rem;
    .c-search__text{
        width: calc(100% - 150px);
        font-size: 2.5rem;
        background-color: rgba(0,0,0,0.025);
        border: none;
        border-radius: 0;
        padding: 2.8rem;
        float: left;
    }
    .c-search__submit{
        width: 150px;
        float: left;
        background-color: black;
        border: 2px solid black;
        border-radius: 0;
        height: 92px;
        color: white;
        font-size: 2.25rem;
        cursor: pointer;
        transition: $ease $speed background-color,
                    $ease $speed color;
        &:hover,
        &:focus{
            background-color: white;
            color: black;
        }
    }
}

.ezsearch-result-count{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.ezsearch-result{
    width: 100%;
    background-color: rgba(0,0,0,0.025);
    padding: 3rem;
    margin-top: 4rem;
    h2{
        padding-block-end: 0;
    }
    p{
        padding: 1rem 0;
    }
}

@include respond-max($mq-large){
    .c-search{
        display: none;
    }
}