@inherits UmbracoViewPage<IPublishedContent>
@{
	var heading = Model.GetPropertyValue<string>("aboutHeading");
	var content = Model.GetPropertyValue<string>("aboutContent");
	var link = Model.GetPropertyValue<string>("aboutLink");
	var decode = Json.Decode(link);
	var image = Model.GetPropertyValue<int>("aboutBackgroundImage");
	var imageUrl = image != 0 || image != null ? Umbraco.Media(image).Url : "";
	if(string.IsNullOrWhiteSpace(heading) && string.IsNullOrWhiteSpace(content) && image == 0)
	{
		return;
	}
}
<section class="c-cover-about o-section" style="background-image: url(@imageUrl)">
	<div class="o-wrap o-wrap--large c-cover__flex">
		<div class="c-cover__inner">
			@if(!string.IsNullOrWhiteSpace(heading))
			{
				<h3 class="c-cover__heading u-mega o-section__line line--white">@heading</h3>
			}
			@if(!string.IsNullOrWhiteSpace(content))
			{
				<div class="c-cover-about__content">
					@Html.Raw(content.Replace("\n","<br>"))
				</div>
			}
			@if(decode != null)
			{
				<a href="@decode.url" class="c-button c-button--secondary u-space-top--large">
					<span>@decode.name</span>
				</a>
			}
		</div>
	</div>
</section>
