@inherits UmbracoViewPage<IPublishedContent>
@{
	var content = Model.GetPropertyValue<string>("featuredTextContent");
	var link = Model.GetPropertyValue<string>("featuredTextLink");
	var decode = Json.Decode(link);
	if(string.IsNullOrWhiteSpace(content) && string.IsNullOrWhiteSpace(link))
	{
		return;
	}
}
<div class="c-about__featured o-section c-rte">
	<div class="o-wrap o-wrap--large">
		@if(!string.IsNullOrWhiteSpace(content))
		{
			@Html.Raw(content)
		}
		@if(link != null)
		{
			<a href="@decode.url" class="o-section__link border--black c-feat__button">
			  <span>@decode.name</span>
			</a>
		}
	</div>
</div>
