@inherits UmbracoViewPage<IPublishedContent>
@{

}

<div class="c-contact__item">
    <h2 class="c-contact__title u-mega o-section__line line--black">Leave us a message</h2>
    <form action="" class="c-form js-form">
        <div class="c-form-section is-required half-section">
            <label for="" class="c-label">Name</label>
            <input type="text" class="c-input">
        </div>
        <div class="c-form-section half-section">
            <label for="" class="c-label">Company</label>
            <input type="text" class="c-input">
        </div>
        <div class="c-form-section is-required">
            <label for="" class="c-label">Telephone</label>
            <input type="tel" class="c-input">
        </div>
        <div class="c-form-section">
            <label for="" class="c-label">Subject</label>
            <input type="text" class="c-input">
        </div>
        <div class="c-form-section is-required">
            <label for="" class="c-label">Message</label>
            <textarea class="textarea"></textarea>
        </div>
        <div class="c-form-section">
            <input type="submit" class="submit" value="Send">
            <p class="o-section__fancy c-form__required-text"><span>*</span> Required Fields</p>
        </div>
    </form>
</div>
