<div class="c-search">
    <div class="o-wrap o-wrap--medium c-search__flex">
        <form action="/search" method="GET" class="c-search__form">
            <input type="text" value="@Request["q"]" class="c-search__text" placeholder="Search here..." name="q" id="search">
            <input type="submit" name="" value="Search" class="c-search__submit">
        </form>
    </div>
</div>