@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<div class="c-page__wrapper">
	<main class="o-page__inner u-clearfix" role="main">
	    @Html.Partial("~/Views/Partials/Components/Cover.cshtml")
		@Html.Partial("~/Views/Partials/Components/Intro.cshtml")
		@Html.Partial("~/Views/Partials/Components/About.cshtml")
	</main>
</div>
