@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";
}

<main class="o-page__inner" role="main">
	<div class="c-page__wrapper">
	    @Html.Partial("~/Views/Partials/Page/Headline.cshtml")
	    <div class="o-section">
			<div class="c-grid o-wrap o-wrap--large">

			</div>
	    </div>
	</div>
</main>
