/* ===========================================================

	# Forms

=========================================================== */

input,
select,
textarea {
	background-color: $light-2;
	border: $border-width solid transparent;
	padding: 1rem 1.5rem;
	transition: border $speed $ease;
	width: 100%;

	&:focus {
		border-color: $border-colour;
	}

	&.valid {
		border-color: $success;
	}

	&.is-invalid {
		border-color: $error;
	}

	&.is-disabled {
		background: $disabled;
		cursor: not-allowed;
	}
}

input[type="submit"]{
	background-color: white;
	border-color: $border-colour;
	float: left;
	width: calc(50% - 2rem);
	height: 6rem;
	cursor: pointer;
	transition: $ease $speed color,
				$ease $speed background-color;
	&:hover,
	&:focus{
		background-color: black;
		color: white;
	}
}

textarea {
	overflow: auto; // Hide scrollbar IE
	resize: vertical;
	min-height: 17.5rem;
	.is-disabled & {
		resize: none;
	}
}

label {
	display: block;
	padding-bottom: .75rem;

	.is-disabled & {
		cursor: not-allowed;
	}
}

label[for] {
	cursor: pointer;

	.is-disabled & {
		cursor: not-allowed;
	}
}



//= PLACEHOLDER ==============================================

::-webkit-input-placeholder {
   color: $form-placeholder-colour;
}

:-moz-placeholder { // Firefox 18-
   color: $form-placeholder-colour;
}

::-moz-placeholder {  // Firefox 19+
   color: $form-placeholder-colour;
}

:-ms-input-placeholder {
   color: $form-placeholder-colour;
}