/* ===========================================================

	# Table

=========================================================== */

table {
	border-collapse: collapse;
	width: 100%;
	tr{
		padding: 2rem 0;
		&:first-child{
			td{
				font-size: 2rem;
				font-weight: bold;
			}
		}
	}
}

th,
td {
	border-bottom: .2rem solid black;
	padding: 3rem;
	text-align: left;
}
