@inherits UmbracoViewPage<IPublishedContent>
@{
	var metaTitle = Model.GetPropertyValue<string>("pageTitle");
	var pageTitle = !string.IsNullOrWhiteSpace(metaTitle) ? metaTitle : Model.Name;
}
<section class="c-page-title o-section">
	<div class="o-wrap o-wrap--large">
		<h3 class="c-intro__heading u-mega js-underline">@pageTitle</h3>
	</div>
</section>
