@inherits UmbracoViewPage<IPublishedContent>
@{
	var metaTitle = Model.GetPropertyValue<string>("pageTitle");
	var pageTitle = !string.IsNullOrWhiteSpace(metaTitle) ? metaTitle : Model.Name;
	var desc = Model.GetPropertyValue<string>("pageDescription");
}
<section class="c-page-title o-section">
	<div class="o-wrap o-wrap--large">
		<div class="c-page-title__content">
			<h3 class="c-intro__heading u-tera js-underline">@pageTitle</h3>
			@if(!string.IsNullOrWhiteSpace(desc))
			{
				<p>@desc</p>
			}
		</div>
		<div class="c-page-title__map">
			<div id="map"></div>
		</div>
	</div>
</section>
